<% var hexober = config.hexober; %>

<header>
<s-appbar>
    <% if (hexober.nav) { %>
        <s-icon-button id="appbarNavBtn" slot="navigation">
            <s-icon type="menu"></s-icon>
        </s-icon-button>
    <% } %>
    <div slot="headline">
        <a href="<%= url_for('/') %>" style="text-decoration: none; color: inherit;">
            <%= config.title %>
        </a>
    </div>
    <% if (hexober.menu) { %>
        <% hexober.menu.forEach((item) => { %>
            <% if (item.title) { %>
            <s-tooltip slot="action">
                <s-icon-button slot="trigger" onclick="window.open('<%= url_for(item.url) %>')">
                    <s-icon>
                        <%- read_svg(url_for(item.icon)) %>
                    </s-icon>
                </s-icon-button>   
                <%= item.title %>
            </s-tooltip>
            <% } else { %>
                <s-icon-button slot="action" onclick="window.open('<%= url_for(item.url) %>')">
                    <s-icon>
                        <%- read_svg(url_for(item.icon)) %>
                    </s-icon>
                </s-icon-button> 
            <% } %>
        <% }) %>
    <% } %>
    
    <% if (hexober.showThemeToggle != false) { %>
    <s-tooltip id="themeToggleTip" slot="action">
        <s-icon-button id="themeToggleBtn" slot="trigger">
            <s-icon id="themeToggleBtnIcon">
                <%- read_svg(url_for(theme.themeToggle.auto), true) %>
            </s-icon>
        </s-icon-button>
        <div id="themeToggleTipText">
            Auto
        </div>
    </s-tooltip>
    <% } %>
</s-appbar>
</header>