<div class="articleList">
    <% if (page.tag) { %>
    <h2>
        <s-icon>
            <%- read_svg(url_for('assets/ic-tag.svg'), true) %>
        </s-icon>
        <%= page.tag %>
    </h2>
    <% } %>
    <% if (page.category) { %>
        <h2>
            <s-icon>
                <%- read_svg(url_for('assets/ic-category.svg'), true) %>
            </s-icon>
            <%= page.category %>
        </h2>
    <% } %>
    <ul>
        <% page.posts.each(function(post){ %>
            <li>
                <%- include('post_item', { post: post }) %>
            </li>
        <% }); %>
    </ul>
    <div class="articleListIndexBar">
        <s-icon-button onclick="gotoPage('<%= page.prev %>')" <% if (page.prev <= 0) { %> disabled="true" <% } %>>
            <s-icon type="chevron_left"></s-icon>
        </s-icon-button>
        <s-icon-button onclick="gotoPage('<%= page.next %>')" <% if (page.next <= 0) { %> disabled="true" <% } %>>
            <s-icon type="chevron_right"></s-icon>
        </s-icon-button>
    </div>
</div> 