<div class="postItem">
    <h2 style="text-decoration: underline;">
        <a href="<%= url_for(post.path) %>" style="text-decoration: none; color: inherit;">
            <%= post.title %>
        </a>
    </h2>
    <div class="postItemExcerpt" >
        <%- post.excerpt %>
    </div>

    <% if (post.photos) { %>
        <%- include('gallery', { photos: post.photos }) %>
    <% } %>

    <div style="display: flex; flex-direction: row; margin-top: 8px;">
        <div style="margin-right: 8px;">
            <s-icon style="width: 16px; height: 16px;">
                <%- read_svg(url_for('assets/ic-date.svg'), true) %>
            </s-icon>
            <small>
                <%= post.date.format('YYYY-MM-DD') %>
            </small>
        </div>
        <% if (post.categories.length || post.tags.length) { %>
            <%- include('tag_cat_bar', {categories: post.categories, tags: post.tags}) %>
        <% } %>
    </div>
</div>