<div style="display: flex; flex-direction: row;">
    <% if (categories.length) { %>
        <div>
            <s-icon style="width: 16px; height: 16px;">
                <%- read_svg(url_for('assets/ic-category.svg'), true) %>
            </s-icon>
            <% categories.forEach(function(category, index) { %>
                <small>
                <b>
                    <a href="<%= url_for(category.path) %>" style="text-decoration: none; color: inherit;">
                        <%= category.name %>
                    </a>
                </b>
                </small>
                <% if (index < categories.length - 1) { %>&nbsp;<% } %>
                        <% }); %>
        </div>
    <% } %>

    <% if (tags.length) { %>
        <div <% if(categories.length) { %> style="margin-left: 16px;" <% } %>>
            <s-icon style="width: 16px; height: 16px;">
                <%- read_svg(url_for('assets/ic-tag.svg'), true) %>
            </s-icon>
            <% tags.forEach(function(tag, index) { %>
                <small>
                <b>
                    <a href="<%= url_for(tag.path) %>" style="text-decoration: none; color: inherit;">
                        <%= tag.name %>
                    </a>
                </b>
                </small>
                <% if (index < tags.length - 1) { %>&nbsp;<% } %>
                        <% }); %>
        </div>
    <% } %>
</div>